{# templates/default/new.html.twig #}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            {# read and display just one flash message type #}
   {#         {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}#}
            {#<p>The google tracking code is: {{ ga_tracking }}</p>#}
            <div class="row">
                {{ form_start(articleForm, {
                    'attr': {
                        'novalidate': 'novalidate',
                        'class': 'col-lg-5'
                    }
                })
                }}

                {{ form_row(articleForm.title) }}
                {{ form_row(articleForm.content) }}
                {{ form_row(articleForm.author) }}
                {#{{ form_row(articleForm.publicationDate) }}#}
                {{ form_row(articleForm.brochure) }}
               {# {{ form_row(articleForm.tags) }}#}

                <button type="submit" class="btn btn-primary">Créer</button>
                {{ form_end(articleForm) }}
            </div>
        </div>
    </body>
</html>
