{% extends 'base.html.twig' %}
{# templates/lucky/number.html.twig #}

{% import 'macros/alertes.html.twig' as utils %}

  {% block body %}
        <h1>Your lucky number is {{ number }}</h1>
      {% set somePrice = 10.7567 %}

      <p> {{ somePrice|price(2) }} </p>
       {# "10.75€" #}
      {% set color = "blue" %}
      The {{ color }} car!

      {# Use macro #}
      {{ utils.alert('Attention!', 'warning') }}
      {{ utils.alert('Erreur fatale!', 'danger') }}
      {{ utils.alert('Soukaina fatale!', 'danger') }}
      {# Use macro #}



      <h2>TEST twig dump</h2>
      {{ dump(color) }} <br />

      {{ '  I like A.  '|trim }}

      {# outputs 'I like Twig.' #}

      {{ '  I like B. '|trim('.') }}

      {# outputs '  I like Twig' #}

      {{ '  I like C.  '|trim(side='left') }}

      {# outputs 'I like Twig.  ' #}

      {{ '  I like D.  '|trim(side='right') }}

      {# outputs '  I like Twig.' #}
  {% endblock %}